In [8]:
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np

In [3]:
file_name = "/content/drive/MyDrive/Colab Notebooks/Questionnaire For non Mobile App Users (Responses).si.en.xlsx"
sheet =  "Form responses 1"

import pandas as pd
dataset = pd.read_excel(io=file_name, sheet_name=sheet)
print(dataset.head(5))  # print first 5 rows of the dataframe

                Timestamp  ... What kind of financial services do you want to see through your mobile phone - Debt Management
0 2020-11-02 15:32:11.395  ...                                                4.0
1 2020-11-02 15:33:52.735  ...                                                1.0
2 2020-11-02 15:36:05.548  ...                                                5.0
3 2020-11-02 15:42:37.935  ...                                                5.0
4 2020-11-02 15:46:50.137  ...                                                5.0

[5 rows x 25 columns]

In [4]:
dataset_table=pd.crosstab(dataset['Level of education'],dataset['Do you use mobile app for banking'])
print(dataset_table)

Do you use mobile app for banking  No  Yes
Level of education
A / L                              35    5
Basic education                     2    0
Degree                              9   28
Diploma                             7    6
Graduate diploma                    0    1
Master's Degree (MSC)               2    9
O / L                               2    0

In [5]:
#Observed Values
Observed_Values = dataset_table.values 
print("Observed Values :-\n",Observed_Values)

Observed Values :-
 [[35  5]
 [ 2  0]
 [ 9 28]
 [ 7  6]
 [ 0  1]
 [ 2  9]
 [ 2  0]]

In [11]:
val=stats.chi2_contingency(dataset_table)
val

(41.42038125120832,
 2.3927438722251956e-07,
 6,
 array([[21.50943396, 18.49056604],
        [ 1.0754717 ,  0.9245283 ],
        [19.89622642, 17.10377358],
        [ 6.99056604,  6.00943396],
        [ 0.53773585,  0.46226415],
        [ 5.91509434,  5.08490566],
        [ 1.0754717 ,  0.9245283 ]]))

In [17]:
Expected_Values=val[3]

In [18]:
no_of_rows=len(dataset_table.iloc[0:2,0])
no_of_columns=len(dataset_table.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:-",ddof)
alpha = 0.05

Degree of Freedom:- 1

In [19]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(Observed_Values,Expected_Values)])
chi_square_statistic=chi_square[0]+chi_square[1]

print("chi-square statistic:-",chi_square_statistic)

chi-square statistic:- 41.420381251208326

In [20]:
critical_value=chi2.ppf(q=1-alpha,df=ddof)
print('critical_value:',critical_value)

critical_value: 3.841458820694124

In [45]:

#p-value
p_value=1-chi2.cdf(x=chi_square_statistic,df=ddof)
print('p-value:',p_value)
print('Significance level: ',alpha)
print('Degree of Freedom: ',ddof)
print('p-value:',p_value)

p-value: 1.2277068250909906e-10
Significance level:  0.05
Degree of Freedom:  1
p-value: 1.2277068250909906e-10

In [28]:
if chi_square_statistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")
    
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Reject H0,There is a relationship between 2 categorical variables
Reject H0,There is a relationship between 2 categorical variables